.home-icon {
    cursor: pointer;
}
.game-details {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    margin-bottom: 30px;
}
.container {
    border-bottom: 1px solid white;
    width: 95%
}

.game-info-container {
    margin: 20px 0;
}
.body-text {
    font-weight: bold;
}

.body-text-info {
    color: rgb(186, 160, 160);
}
span, .text {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.details-title {
    text-align: center;
    padding: 30px 0;
    font-size: 1em;
    color: #fff;
}

.home-icon {
    color: #fff;
}

.game-img {
    margin-left: 30px;
    padding: 10px 0;
    height: 600px;
    width: 600px;
}

.game-details-container{
    margin-left: 20px;
    color: #fff;
}

.medium-price, .price {
    font-size: 2rem;
    color: rgb(186, 160, 160);
}

.price {
    color: rgb(252, 68, 68)
}

.release-date {
    color: rgb(186, 160, 160);
    font-size: 0.9em;
}

.vote-button {
    border: none;
    background:rgb(252, 68, 68); 
    padding: 1rem 2.5rem;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.rating-container {
    display: flex;
    align-items: center;
}

.game-rating {
    background-color: rgb(252, 68, 68);
    width: 70px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.details-game-title {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
}

.description-title {
    text-align: center;
    color:rgb(252, 42, 42);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.description-body {
    color: rgb(186, 160, 160);
    background-color: rgb(44, 43, 43);
    margin: 0 30px 10px 30px;
    padding: 10px 20px;
    font-size: 1em;
    line-height: 2em;
}

.vote-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
}