<div class="vote-container">
    <button (click)="changeGameRate(1)">1</button>
    <button (click)="changeGameRate(2)">2</button>
    <button (click)="changeGameRate(3)">3</button>
    <button (click)="changeGameRate(4)">4</button>
    <button (click)="changeGameRate(5)">5</button>
    <button (click)="changeGameRate(6)">6</button>
    <button (click)="changeGameRate(7)">7</button>
    <button (click)="changeGameRate(8)">8</button>
    <button (click)="changeGameRate(9)">9</button>
    <button (click)="changeGameRate(10)">10</button>
    <button (click)="rateGame()"> Confirm </button>
</div>