<div class="footer">
    <div class="coded-by">Coded by 
        <a class="git-link" href="https://github.com/nicholasnoronha">
            <u>Nicholas Noronha</u>
        </a>
        Tindin - Test for job Position! 
    </div>
    
    <div class="social-media">
        <a href="https://www.facebook.com/" class="facebook-icon">
            <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
        <a href="https://twitter.com/" class="twitter-icon">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="https://www.gmail.com/" class="gmail-icon">
            <fa-icon [icon]="faGooglePlusG"></fa-icon>
        </a>
        <a href="https://www.youtube.com/" class="youtube-icon">
            <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a href="https://www.instagram.com/" class="instagram-icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
    </div>
</div>