<div class="footer">
    <div class="coded-by">Coded by <u>Nicholas Noronha</u> Tindin - Test for job Position! </div>
    <div class="social-media">
        <a href="https://www.facebook.com/" class="facebook-icon">f</a>
        <a href="https://twitter.com/" class="twitter-icon">tw</a>
        <a href="https://www.gmail.com/" class="gmail-icon">g</a>
        <a href="https://www.youtube.com/" class="youtube-icon">y</a>
        <a href="https://www.instagram.com/" class="instagram-icon">i</a>
    </div>
</div>