.game-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    gap: 4px;
    padding: 10px 3em 3em 3em;
}

.game-img {
    width: 100%;
    height: 100%;
}